<resource-table-component
  [resourceList]="resourceList"
  [selectedResourceID]="selectedResourceID"
  [updatedResource]="updatedResource"
  [resourceType]="promotionusage"
  [resourceInSelection]="resourceInSelection"
  [shouldShowResourceActions]="false"
  [shouldShowCreateNew]="false"
  [ocService]="ocService"
  [filterConfig]="filterConfig"
  [dataIsSaving]="dataIsSaving"
  [resourceForm]="resourceForm"
  (searched)="searchResources($event)"
  (hitScrollEnd)="handleScrollEnd()"
  (changesSaved)="saveUpdates()"
  (changesDiscarded)="discardChanges()"
  (resourceDelete)="deleteResource()"
  (resourceSelected)="selectResource($event)"
  [labelSingular]="'ADMIN.NAV.PROMOTION'"
  [labelPlural]="'ADMIN.NAV.PROMOTIONS'"
>

</resource-table-component>
